*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/* 	overflow: hidden; */
}

.shogi{
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	--size: calc( 100vw / 9 - 2px);
}
@media (min-width: 452px){
	.shogi{
		--size: 50px;
	}
}

.board{
	position: relative;
	width: calc( var(--size) * 9 + 2px );
	margin: 0 auto;
	
	border-spacing: 0;
	border: 1px solid #888;
	transition: .5s
}
.board.rotated{
	transform: rotate(180deg);
}

.board .cell{
	width: var(--size);
	height: var(--size);
	border: 1px solid #888;
}
.board .cell:hover{
	box-shadow: 0 0 3px 0 #0F0 inset
}

.piece,
.piece *{
	position: absolute;
	top: 0;
	left: 0;
	width: var(--size);
	height: var(--size);
	
	text-align: center;
	font-size: calc( var(--size) / 2 );
	line-height: var(--size);
}
.piece{
	pointer-events: none;
	top: calc( var(--size) * var(--y,0) );
	left: calc( var(--size) * var(--x,0) );
	
	--scale: 1;
	--rotation: 0deg;
	transform: rotate(var(--rotation)) scale(var(--scale));
	transition: .3s;
}
.piece.second-player{
	--rotation: 180deg
}
.piece.promoted{
	color: red;
}
.piece.holding{
	--scale: 1.2;
	filter: drop-shadow(4px 4px 2px rgba(0,0,0,.5))
}
.piece.second-player.holding{
	filter: drop-shadow(-4px -4px 2px rgba(0,0,0,.5))
}
.piece.hidden{
	opacity: 0;
}

.piece .symbol{
	transform: translateY(4px);
}






.hand{
	position: relative;
	margin: calc( var(--size) * 1/5 ) auto;
	height: calc( var(--size) * 7/5 );
	width: calc( var(--size) * 7 );
}

.hand .piece{
	pointer-events: all;
	cursor: pointer;
	transition: .1s;
}
.hand .piece:hover{
	--scale: 1.1;
}

.hand .numbers{
	display: flex;
	position: relative;
	top: calc( var(--size) * 34/50 );
	pointer-events: none;
}
.hand .numbers .number{
	width: var(--size);
	height: var(--size);
	
	text-align: center;
	font-size: calc( var(--size) / 2 );
	line-height: var(--size);
}



#messages{
	display: flex;
	position: absolute;
	width: 400px;
	max-width: 100%;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	
	flex-direction: column;
	justify-content: center;
	pointer-events: none;
}

.message-box{
	position: relative;
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	
	background: white;
	border: 1px solid rgb(0,0,0,.2);
	box-shadow: 0 0 3px rgb(0,0,0,.2);
	pointer-events: all;
}

.message-box input,
.message-box .submit{
	display: inline-block;
	min-height: 0;
	line-height: 30px;
	height: 30px;
	
	border: 1px solid rgb(0,0,0,.2);
	box-shadow: 0 0 3px rgb(0,0,0,.2);
	border-radius: 5px;
	
}
.message-box input{
	width: 80%;
	padding: 0 6px;
}
.message-box .submit{
	width: 20%;
	transition: .2s;
}
.message-box .submit:hover{
	color: white;
	background: rgba(60,140,255,.8);
	box-shadow: 0 0 12px rgba(60,140,255,.7);
}
.message-box .submit:active{
	color: white;
	background: rgba(60,140,255,.9);
	box-shadow: 0 0 4px rgba(60,140,255,1);
}

.message-box .close{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	right: -45px;
	transform: translateY(-50%);
	
	font-size: 20px;
	
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	border-radius: 20px;
	
	transition: .2s;
}
.message-box .close:hover{
	color: white;
	background: rgba(255,100,100,.8);
	box-shadow: 0 0 12px rgba(255,0,0,.7);
}
.message-box .close:active{
	color: white;
	background: rgba(255,100,100,.9);
	box-shadow: 0 0 4px rgba(255,0,0,1);
}
.message-box:not(.prompt-box){
	max-width: calc( 100% - 45px );
}
























